<div class="latest-spend-container">
  <div class="latest-spend-title">
    <h2>Latest Spending</h2>

    <button (click)="seeAll()" class="see-all-button">
      <h3>See All</h3>
      <img ngSrc="icon-caret-right.svg" height="11" width="6">
    </button>
  </div>

  <ul>
    @for (transaction of (transactions$ | async); track transaction.id) {
      <li>
        <div class="transaction-name">
          <img ngSrc="{{transaction.avatar}}" width="32" height="32" alt="avatar" class="rounded-full">
          <h6>{{ transaction.name }}</h6>
        </div>
        <div class="transaction-details">
          <h6>{{ transaction.amount | currency }}</h6>
          <h5>{{ transaction.date | date: 'd MMM yyyy' }}</h5>
        </div>
      </li>
    }
  </ul>
</div>
