<div class="flex flex-col space-y-8">
  <h1 class="py-2 text-start text-preset1 text-grey-900">
    Transactions
  </h1>

  <div class="flex flex-col space-y-6 px-8 py-8 bg-white rounded-xl">
    <div class="flex flex-row"></div>

    <div class="w-full">
      <table class="w-full">
        <tr class="header-tr">
          @for (header of headers; track $index) {
            <th>{{header}}</th>
          }
        </tr>

        @for (transaction of (transactions$ | async); track transaction.id) {
          <tr class="content-tr">
            <td class="px-4 py-4">
              <div class="recipient-container">
                <img ngSrc="{{transaction.avatar}}" width="40" height="40" alt="avatar" class="rounded-full">
                <p class="text-preset4-bold">{{transaction.name}}</p>
              </div>
            </td>
            <td class="category">{{transaction.category}}</td>
            <td class="category">{{transaction.date | date: 'd MMM yyyy'}}</td>
            <td [ngClass]="transaction.amount < 0 ? 'negative-amount' : 'positive-amount'">{{transaction.amount | formatAmount}}</td>
          </tr>
        }
      </table>
    </div>

    <div class="flex flex-row"></div>
  </div>
</div>
