<div [class]="(expanded$ | async) ? 'sidebar-open' : 'sidebar-closed'" >
  <div class="flex flex-col space-y-6 justify-start">
    <app-sidebar-logo></app-sidebar-logo>

    <div class="menu-buttons">
      <app-sidebar-button [text]="'Overview'" [linkTo]="Page.overview"></app-sidebar-button>
      <app-sidebar-button [text]="'Transactions'" [linkTo]="Page.transactions"></app-sidebar-button>
      <app-sidebar-button [text]="'Budgets'" [linkTo]="Page.budgets"></app-sidebar-button>
      <app-sidebar-button [text]="'Pots'" [linkTo]="Page.pots"></app-sidebar-button>
      <app-sidebar-button [text]="'Recurring Bills'" [linkTo]="Page.bills"></app-sidebar-button>
    </div>
  </div>

  <div class="flex flex-col">
    <app-sidebar-minimize></app-sidebar-minimize>
  </div>
</div>
