<div class="budgets-page">

  <div class="budgets-page-title">
    <h1>Budgets</h1>
    <button (click)="showAddDialog()">
      +Add Budget
    </button>
  </div>

  <div class="budgets-container">

    <!-- Left side -->
    <app-budgets-summary></app-budgets-summary>


    <!-- Right side -->
    <div class="cards-container">
      @for (budget of (budgets$ | async); track budget.id) {
        <app-budgets-card class="w-full" [budget]="budget"></app-budgets-card>
      }
    </div>
  </div>
</div>

<app-budget-dialog (actionEvent)="addBudget()"
                   (closeDialogEvent)="closeDialog()"
                   [category]="''"
                   [showDialog]="showDialog"
                   [action]="BudgetAction.add"></app-budget-dialog>
