<div class="filter-container">
  @let sortBy = (sortBy$ | async) ?? 1;

  <div class="search-container">
    <input placeholder="Search Transactions" [(ngModel)]="searchString" (keyup.enter)="search(sortBy)">
    <button (click)="search(sortBy)">
      <img ngSrc="icon-search.svg" width="14" height="14" alt="search icon">
    </button>
  </div>

  <div class="filters">
    <div class="filter-select">
      <p>Sort By</p>

      <app-select [options]="(sortOptions$ | async) ?? []"
                  [selected]="(sortBy$ | async) ?? 1"
                  (updateEvent)="updateSort($event)"
                  class="w-28"></app-select>
    </div>

    <div class="filter-select">
      <p>Category</p>

      <app-select [options]="(categories$ | async) ?? []"
                  [selected]="(categorySelected$ | async) ?? 1"
                  (updateEvent)="updateCategory($event, sortBy)"
                  class="w-44"></app-select>
    </div>
  </div>
</div>

