<div class="card-title-container">
    <div class="card-title">
        <span [ngStyle]="{'background-color': theme}"></span>
        <h2>{{ category }}</h2>
    </div>

    <div class="dropdown-container">
        <button (click)="toggleDropdown()">
            <img ngSrc="icon-ellipsis.svg" height="4" width="14" alt="card menu">
        </button>
        <ul [ngStyle]="{ display: showDropdown ? 'flex' : 'none' }">
            <li (click)="edit()" class="edit-item">Edit Budget</li>
            <li (click)="showDeleteDialog()" class="delete-item">Delete Budget</li>
        </ul>
    </div>
</div>

<app-budget-dialog (actionEvent)="delete()"
                   (closeDialogEvent)="closeDialog()"
                   [category]="category"
                   [showDialog]="showDialog"
                   [action]="BudgetAction.delete"></app-budget-dialog>

